html {
  font-family: "Arial", "Helvetica", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
      font-family: "Arial", "Helvetica", sans-serif;
  }
}

body {
  overflow: hidden;
}

p,
li {
  line-height:12px;
  -webkit-letter-spacing:-.024%;
  -moz-letter-spacing:-.024%;
  -ms-letter-spacing:-.024%;
  letter-spacing:-.024%
}

h1 {
  font-size: 20px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}

.page {
  border: none;
  overflow: hidden;
  padding: 0;
  height: 100%;
}

.page > .content {
  padding: 10px;
  border-radius: 0;
  height: 100%;
}

a {
  user-select: none;
  pointer-events: none;
  color: rgba(10, 132, 255, 1);
}

.show-white-space {
    white-space: pre-wrap;
    white-space: pre;
}

