html {
  font-family: "Arial", "Helvetica", sans-serif;
}

html,
body {
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
  background: white;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

header {
  display: flex;
  background: #fff;
  border-bottom: 1px #ccc solid;
  margin-bottom: -1px;
}

.site-title {
  padding: 0;
  margin: 0;
}

.grid-container {
  flex: 1;
  display: flex;
  overflow-x: auto !important;
  overflow-y: auto !important;
  white-space: nowrap;
  flex-grow: 1;
}

.grid {
  max-width: 100%;
  display: inline-block;
  flex-grow: 1;
  font-size: 0;
}

.homepage {
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.page {
  padding: 20px 50px;
  border: 1px #ccc solid;
  display: inline-block;
  max-width: 90%;
  height: 100% !important;
  overflow-y: auto;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 16px;
}

#text {
  font-size: 0;
  width: 0;
}

h1 {
  margin-top: 0;
}

a:link {
  color: gray;
}

a:visited {
  color: #585858;
}

a:hover {
  color: gray;
  opacity: 0.5;
}

a:active {
  color: blue;
}

code {
  white-space: pre;
  font-size: 13px;
  background: #eeeeee;
  border: 1px solid #bbb;
  border-radius: 4px;
  display: inline-block;
  max-width: 100%;
  overflow: auto;
}

pre {
  padding: 1px 10px;
}

img {
  width: 100%;
}

iframe {
  overflow: hidden;
  overflow-y: hidden;
  border: none;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  header {
    /* border-right-width: 0; */
    border-bottom-width: 1px;
    padding: 10px 30px;
  }

  #logo {
    margin: 0;

  }

  header > * {
    display: inline-block;
    margin-right: 10px;
  }

  .grid-container {
    padding: 0;
  }

  .page > .content {
    padding: 10px 20px;
  }

  .backlinks .backlink-item {
    display: block;
    width: 100%;
  }

  .page {
    padding-bottom: 150px;
    display: inline-block;
  }
}
